<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Rankings</title>

	<style>
		.retro {
			position: fixed;
			z-index: 99;
			width: 100%;
		}

		.container {
			position: relative;
			border: 1px solid orange;
			margin-top: 2em;
			padding-top: 1em;
			float: right;
			overflow: auto;
			right: 2em;
		}


		.cards {
			border: 1px solid orange;
			background-color: #def2f9;
			margin-bottom: 1em;
			position: relative;
			border-radius: 10px 10px 10px 10px;
			padding: 1em;
		}

		.cards p {
			position: absolute;
			top: 1.5em;
			right: 1em;
		}

		h5 {
			font-family: "Courier New", Courier, monospace;
		}

		.ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			width: 15%;
			background-color: ivory;
			position: fixed;
			height: 100%;
			overflow: auto;
		}

		.li a {
			display: block;
			color: #000;
			padding: 8px 16px;
			text-decoration: none;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
		}

		.li a:hover {
			background-color: orange;
		}
	</style>

	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="css/solo.css">
</head>

<body>
	<div class="retro">
		<nav class="navbar navbar-expand-lg navbar-light" id="navbar">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
				aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
				<a class="navbar-brand" id="logo" href="/users/welcome"> TRIVIATOPIA </a>
				<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
					<li class="nav-item active first">
						<a class="nav-link home" href="/rankings/books">Rankings <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item third">
						<a class="nav-link learn" href="/games">Games</a>
					</li>
					<li class="nav-item second dropdown">
						<a class="nav-link prof dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							Profile
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#"><i class="fa fa-user mr-2" aria-hidden="true"></i> Nkechi
								Emmanuel</a>
							<a class="dropdown-item" href="#"><i class="fa fa-cog mr-2" aria-hidden="true"></i> Account
								settings</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/users/logout"><i class="fa fa-power-off mr-2" aria-hidden="true"></i>
								Logout</a>
						</div>
					</li>

					<li class="nav-item nav-link mt-0 pt-0">
						<label class="switch">
							<input class="toggle-checkbox" type="checkbox" />
							<div class="toggle-slot">
								<div class="sun-icon-wrapper">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
										focusable="false" width="1em" height="1em" style="
	                      -ms-transform: rotate(360deg);
	                      -webkit-transform: rotate(360deg);
	                      transform: rotate(360deg);
	                    " preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" class="iconify sun-icon"
										data-icon="feather-sun" data-inline="false">
										<g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
											stroke-linejoin="round">
											<circle cx="12" cy="12" r="5"></circle>
											<path d="M12 1v2"></path>
											<path d="M12 21v2"></path>
											<path d="M4.22 4.22l1.42 1.42"></path>
											<path d="M18.36 18.36l1.42 1.42"></path>
											<path d="M1 12h2"></path>
											<path d="M21 12h2"></path>
											<path d="M4.22 19.78l1.42-1.42"></path>
											<path d="M18.36 5.64l1.42-1.42"></path>
										</g>
									</svg>
								</div>
								<div class="toggle-button"></div>
								<div class="moon-icon-wrapper">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
										focusable="false" width="1em" height="1em" style="
	                      -ms-transform: rotate(360deg);
	                      -webkit-transform: rotate(360deg);
	                      transform: rotate(360deg);
	                    " preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" class="iconify moon-icon"
										data-icon="feather-moon" data-inline="false">
										<g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
											stroke-linejoin="round">
											<path d="M21 12.79A9 9 0 1 1 11.21 3A7 7 0 0 0 21 12.79z"></path>
										</g>
									</svg>
								</div>
							</div>
						</label>
					</li>
				</ul>
			</div>
		</nav>

		<div class="categories">
			<ul class="ul">
				<li class="li"><a href="/games?category=Entertainment: Books">Entertainment: Books</a></li>
				<li class="li"><a href="/games?category=Entertainment: Film">Entertainment: Film</a</li>
				<li class="li"><a href="/games?category=Entertainment: Music">Entertainment: Music</a</li>
				<li class="li"><a href="/games?category=Sports">Sports</a></li>
				<li class="li"><a href="/games?category=History">History</a></li>
				<li class="li"><a href="/games?category=Science & Nature">Science & Nature</a></li>
				<li class="li"><a href="/games?category=Science: Computers">science: Computers</a></li>
				<li class="li"><a href="/games?category=Science: Mathematics">Science: Mathematics</a></li>
				<li class="li"><a href="/games?category=Politics">Politics</a></li>
				<li class="li"><a href="/games?category=Arts">Arts</a></li>
				<li class="li"><a href="/games?category=Animals">Animals</a></li>
				<li class="li"><a href="/games?category=Vehicles">Vehicles</a></li>
			</ul>
		</div>


		<div class="buffer"></div>

		<div class="container">
			<% games.sort((a, b)=> b.rank - a.rank) %>
			<% games.map(item=> { %>
			<div class="cards">
				<h5>
					<%= item.name %>
				</h5>
				<p>
					<%= item.participants %>
				</p>
			</div>
			<% }); %>
		</div>
	</div>
	<script src="js/solo.js">
	</script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>

</html>
