<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="css/signin-signup.css">


</head>

<body>
	<div class="wrapper">
		<form class="form" id="signin" method="POST" action='/users/login'>
			<h1 class="form-title">SIGN IN</h1>
			<div class="form-message form-message-error"><%= fieldError %>
			</div>
			<div class="form-input-group">
				<input type="email" class="form-input" name="email" autofocus placeholder="Email">
				<div class="form-input-err-msg"><%= emailError %></div>
			</div>
			<div class="form-input-group">
				<input type="password" id="signInPassword" name="password" class="form-input" autofocus placeholder="Password">
				<div class="form-input-err-msg"><%= passwordError %></div>
			</div>

			<input type="submit" class="form-button" value="Sign in">

			<p class="form-text">
				<a class="form-link" href="/signup">No account? Sign up</a>
			</p>

			<div class="logos">
				<div id="follow">follow us on</div>
				<img src="assets/images/fblogo.jpg" id="facebook" alt="facebook logo">
				<img src="assets/images/instagram.jpeg" id="instagram" alt="google logo">
				<img src="assets/images/whatsapp.jpeg" id="whatsapp" alt="whatsapp logo">
			</div>


		</form>

			</div>

	<!-- <script src="js/signin-signup.js"></script> -->

</body>

</html>
