<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="css/signin-signup.css">


</head>

<body>
	<div class="wrapper">
		<form class="form" id="createAccount" method="POST" action='/users/register'>
			<h1 class="form-title">SIGN UP</h1>
			<div class="form-message form-message-error"></div>
			<div class="form-input-group">
				<input type="text" class="form-input" autofocus name="username" placeholder="Username">
				<div class="form-input-err-msg"></div>
			</div>
			<div class="form-input-group">
				<input type="email" class="form-input" name="email" autofocus placeholder="Email">
				<div class="form-input-err-msg"></div>
			</div>
			<div class="form-input-group">
				<input type="password" id="signUpPassword" name="password" class="form-input" autofocus placeholder="Password">
				<div class="form-input-err-msg"></div>
			</div>
			<div class="form-input-group">
				<input type="password" id="confirmedPassword" name="password2" class="form-input" autofocus
					placeholder="Confirm Password">
				<div class="form-input-err-msg"></div>
			</div>

			<input type="submit" class="form-button" value="Sign up">

			<p class="form-text">
				<a class="form-link" href="./" id="signInLink">Have an account? Sign in</a>
			</p>

		</form>
	</div>

	<!-- <script src="js/signin-signup.js"></script> -->

</body>

</html>
