<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Solo</title>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="css/solo.css">


</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light" id="navbar">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
			aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
			<a class="navbar-brand" id="logo" href="/users/welcome"> TRIVIATOPIA </a>
			<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
				<li class="nav-item active first">
					<a class="nav-link home" href="/rankings/books">Rankings <span class="sr-only">(current)</span></a>
				</li>

				<li class="nav-item third">
					<a class="nav-link learn" href="/games">Games</a>
				</li>

				<li class="nav-item second dropdown">
					<a class="nav-link prof dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						Profile
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#"><i class="fa fa-user mr-2" aria-hidden="true"></i> Nkechi
							Emmanuel</a>
						<a class="dropdown-item" href="#"><i class="fa fa-cog mr-2" aria-hidden="true"></i> Account
							settings</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/users/logout"><i class="fa fa-power-off mr-2" aria-hidden="true"></i>
							Logout</a>
					</div>
				</li>


				<li class="nav-item nav-link mt-0 pt-0">
					<label class="switch">
						<input class="toggle-checkbox" type="checkbox" />
						<div class="toggle-slot">
							<div class="sun-icon-wrapper">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
									focusable="false" width="1em" height="1em" style="
                      -ms-transform: rotate(360deg);
                      -webkit-transform: rotate(360deg);
                      transform: rotate(360deg);
                    " preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" class="iconify sun-icon"
									data-icon="feather-sun" data-inline="false">
									<g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
										<circle cx="12" cy="12" r="5"></circle>
										<path d="M12 1v2"></path>
										<path d="M12 21v2"></path>
										<path d="M4.22 4.22l1.42 1.42"></path>
										<path d="M18.36 18.36l1.42 1.42"></path>
										<path d="M1 12h2"></path>
										<path d="M21 12h2"></path>
										<path d="M4.22 19.78l1.42-1.42"></path>
										<path d="M18.36 5.64l1.42-1.42"></path>
									</g>
								</svg>
							</div>
							<div class="toggle-button"></div>
							<div class="moon-icon-wrapper">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
									focusable="false" width="1em" height="1em" style="
                      -ms-transform: rotate(360deg);
                      -webkit-transform: rotate(360deg);
                      transform: rotate(360deg);
                    " preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" class="iconify moon-icon"
									data-icon="feather-moon" data-inline="false">
									<g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
										<path d="M21 12.79A9 9 0 1 1 11.21 3A7 7 0 0 0 21 12.79z"></path>
									</g>
								</svg>
							</div>
						</div>
					</label>
				</li>
			</ul>
		</div>
	</nav>

	<main class="mx-auto" id="wrapper">
		<h2 class="text-center mb-5" id="configure">Configure Your Game</h2>

		<form class="">
			<div class="form-group row">
				<div class="col-sm-12">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<label class="input-group-text" for="inputGroupSelect01" id="category"
								style="background-color: #ff8a00; color: white">Categories:</label>
						</div>
						<select class="custom-select" id="inputGroupSelect01">
							<option>Enter your choice of category</option>
							<option value="Entertainment: Books">Entertainment: Books</option>
							<option value="Entertainment: Film">Entertainment: Film</option>
							<option value="Entertainment: Music">Entertainment: Music</option>
							<option value="Sports">Sports</option>
							<option value="History">History</option>
							<option value="Science & Nature">Science & Nature</option>
							<option value="Science: Computers">Science: Computers</option>
							<option value="Science: Mathematics">Science: Mathematics</option>
							<option value="Politics">Politics</option>
							<option value="Arts">Arts</option>
							<option value="Animals">Animals</option>
							<option value="Vehicles">Vehicles</option>
						</select>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-12">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<label class="input-group-text" for="inputGroupSelect01" id="question"
								style="background-color: #ff8a00; color: white">How many Questions?</label>
						</div>
						<select class="custom-select" id="inputGroupSelect01">
							<option>Choose the Amount of Questions to Answer</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>
							<option value="32">32</option>
							<option value="33">33</option>
							<option value="34">34</option>
							<option value="35">35</option>
							<option value="15">36</option>
							<option value="25">37</option>
							<option value="15">38</option>
							<option value="25">39</option>
							<option value="30">40</option>
							<option value="31">41</option>
							<option value="32">42</option>
							<option value="33">43</option>
							<option value="34">44</option>
							<option value="35">45</option>
							<option value="15">46</option>
							<option value="25">47</option>
							<option value="15">48</option>
							<option value="25">49</option>
							<option value="25">50</option>
						</select>

					</div>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-12">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<label class="input-group-text" for="inputGroupSelect01" id="difficulty"
								style="background-color: #ff8a00; color: white">Difficulty Level:</label>
						</div>
						<select class="custom-select" id="inputGroupSelect01">
							<option>Choose the Level of Difficulty</option>
							<option value="Any Difficulty">Any Difficulty</option>
							<option value="Easy">Easy</option>
							<option value="Medium">Medium</option>
							<option value="Hard">Hard</option>
						</select>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-12">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<label class="input-group-text" id="type" for="inputGroupSelect01"
								style="background-color: #ff8a00; color: white">Option Type</label>
						</div>
						<select class="custom-select" id="inputGroupSelect01">
							<option value="multiple Choice">Multiple Choice</option>
							<option value="True/False">True/False</option>
							<option value="Any">Any Type</option>
						</select>
					</div>
				</div>
			</div>

			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Not Timed" />
				<label class="form-check-label" id="noTimed" for="inlineRadio2">Not Timed</label>
			</div>
			<div class="form-check form-check-inline mb-3">
				<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Timed"
					checked />
				<label class="form-check-label" id="yesTimed" for="inlineRadio1">Timed</label>
			</div>

			<div class="form-group row" id="timed-zone">
				<div class="col-sm-12">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<label class="input-group-text" for="inputGroupSelect01" id="minutes"
								style="background-color: #ff8a00; color: white">How Many Minutes Per Question</label>
						</div>
						<select class="custom-select" id="inputGroupSelect01">
							<option selected>
								Allocate Your Time Limit For Each Question
							</option>
							<option value="5 seconds">5 seconds</option>
							<option value="10 seconds">10 seconds</option>
							<option value="15 seconds">15 seconds</option>
							<option value="20 seconds">20 seconds</option>
							<option value="25 seconds">25 seconds</option>
							<option value="30 seconds">30 seconds</option>
							<option value="35 seconds">35 seconds</option>
							<option value="40 seconds">40 seconds</option>
							<option value="45 seconds">45 seconds</option>
							<option value="50 seconds">50 seconds</option>
							<option value="55 seconds">55 seconds</option>
							<option value="1 minute">1 minute</option>
						</select>
					</div>
				</div>
			</div>
		</form>
		<button style="margin-bottom: 1.5rem !important" type="button" class="btn start mr-auto">
			Start Quiz
		</button>
	</main>

	<script src="js/solo.js">
	</script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>

</html>
